.our-clients {
  $clients-color: #AFB1B8;

  @extend %container;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    @extend %animated;
    border-radius: $border-radius;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    transition-property: border-color, fill;
    border: getBorder($clients-color);
    fill: $clients-color;

    &:hover, &:focus {
      @extend %animated;
      cursor: pointer;
      transition-property: border-color, fill;
      border-color: $color-active;
      fill: $color-active;
    }
  }
}
